// Select 2
@import '~select2/dist/css/select2.css';

// Font Awesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Vendor Files
@import '~dropzone/dist/dropzone.css';
@import '~sweetalert2/src/sweetalert2.scss';
@import './vendor/select2.custom.scss';

// Oxygen Variables
@import "./oxygen/_brand-variables";

// Modules
@import "./oxygen/_abstract-classes",
"./oxygen/modules/_item-listings",
"./oxygen/modules/_input-fields--large",
"./oxygen/modules/_labels",
"./oxygen/modules/_buttons",
"./oxygen/modules/_lists",
"./oxygen/modules/_forms",
"./oxygen/modules/_empty_view",
"./oxygen/modules/_footer";

html,
body {
	height: 100%;
}

body {
    // reset the height, because SweetAlert sets it to `auto`
    &.swal2-height-auto {
        height: 100% !important;
    }
}

#dashboard-wrapper {
	height: 100%;
}

#dashboard-home {
	height: 100%;
	width: 100%;
	display: table;

	.point-right {
		animation: turnRight 300ms forwards;
	}
	.point-left {
		animation: turnLeft 300ms forwards;
	}
}

#page-container {
	display: table-row;
	width: 100%;
	height: 100%;

	#page-container-wrapper {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;

		&.row {
			margin: 0;
		}

		#page-contents {
			flex-grow: 1;
			.alert-container {
				margin-bottom: 20px;
			}
		}
	}
}

/*
 |--------------------------------------------------------------------------
 |
 | START LEFT SIDEBAR
 |
 |--------------------------------------------------------------------------
 */

$mini-sidebar-width: 60px;

@mixin mini-sidebar-icon {
	font-size: 20px;
	line-height: 35px;
	min-width: 40px;
	margin-right: 0;
}
@mixin mini-sidebar-icon-text {
	flex-direction: column;
	place-items: center;
	font-size: 10px;
	padding: 5px;
}

#sidebar {
	// fix normal sidebar size
	flex-basis: 240px;
	flex-grow: 0;
	background: #003254;
	font-family: $paragraph-font;
	height: 100%;
	vertical-align: top;

	.nav {
		display: block;

		// sidebar section titles
		.nav-title {
			pointer-events: none;
			overflow: hidden;
			letter-spacing: 0.09em;
			font-size: 12px;
			text-transform: uppercase;
			padding: 10px 20px;
			color: #ffffff5c;
			background: #2C3E50;
		}

		// sidebar items
		li {
			// for hover transition
			transition: 0.25s ease;
			border-bottom: 1px solid #545454;
			a {
				display: flex;
				color: #ced6e0;
				font-size: 0.95em;
				padding: 13px 20px;
				&:hover {
					color: white;
					background: #1C508B;
					text-decoration: none;
				}
				span {
					overflow: hidden;
					width: auto;
				}
			}
			// hover effects
			&:hover {
				border-left: 5px solid #0081ff;
			}
		}
		// menu icons
		.fas {
			width: 30px;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			margin-right: 8px;
		}
	}

	&.mini-sidebar {
		animation: sidebar-shrink 150ms 200ms ease forwards;

		.nav {
			.nav-title {
				animation: flipUp 150ms forwards ease-out;
			}
		}

		li {
			a {
				@include mini-sidebar-icon-text;
				span {
					text-align: center;
				}
			}
			&:hover {
				border-left: none;
			}
		}
		.fas {
			@include mini-sidebar-icon;
		}
	}

	&.normal-sidebar {
		white-space: nowrap;
		animation: sidebar-expand 300ms ease-out forwards;
		.nav {
			.nav-title {
				transform: rotateX(-90deg);
				padding-top: 0;
				padding-bottom: 0;
				animation: flipDown 150ms 200ms forwards ease-out;
			}
		}
	}
}

@keyframes flipUp {
	0% {
		transform: rotateX(0);
		transform-origin: 0% 0%;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.75rem;
	}
	100% {
		transform: rotateX(-90deg);
		transform-origin: 50% 0%;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 0;
	}
}

@keyframes flipDown {
	0% {
		transform: rotateX(-90deg);
		transform-origin: 50% 0%;
	}
	100% {
		transform: rotateX(0);
		transform-origin: 0% 0%;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.75rem;
	}
}

@keyframes sidebar-shrink {
	0% {
		// flex-basis: 240px;
	}
	100% {
		flex-basis: 50px;
	}
}

@keyframes sidebar-expand {
	0% {
		flex-basis: 100px;
	}
	100% {
		flex-basis: 240px;
	}
}
/*
 |--------------------------------------------------------------------------
 |
 | END LEFT SIDEBAR
 |
 |--------------------------------------------------------------------------
 */

#page-contents {
	// margin: 0 0 0 230px;
	padding: 20px;
}

.page-main-actions {
	margin-bottom: 20px;

	.breadcrumb {
		margin-top: 20px;
	}
}

.page-title {
	@extend .smooth-font, .narrow-font;
	font-family: $dashboard-font;
	font-size: 32px;
}

.ui-select-bootstrap {
	.form-control {
		min-height: 32px;
		font-size: 16px;
		line-height: 20px;
	}
}

/*
 |--------------------------------------------------------------------------
 |
 | Common Styles
 |
 |--------------------------------------------------------------------------
 */
.nav-wide {
	//margin: 0 -20px;
}

.navbar-nav {
	.user-greeting {
		padding: 0 15px;
		font-weight: bold;
		color: #fff;
	}
}

.nav > li > a:focus,
.nav > li > a:hover {
	// background-color: inherit;
	background-color: rgba(238, 238, 238, 0.65);
}

.nav {
	transition: 1s;
}

.navbar-oxygen {
	.navbar-toggle {
		border-color: rgba(255, 255, 255, 0.75);

		.icon-bar {
			background-color: rgba(255, 255, 255, 0.75);
		}
	}
}

.btn-s-depth {
	box-shadow: inset 0px 0px 0px #0EEA7D, 0px 5px 0px 0px #199457;
	border-color: transparent;
}

.modal-backdrop.am-fade {
	opacity: .5;
	transition: opacity .15s linear;
}

.modal-backdrop {
	//  position: fixed;
	//  top: 0;
	//  right: 0;
	bottom: 0;
	//  left: 0;
	z-index: 10;
}

.modal-body {
	min-height: 230px;
}


.table {
	tbody > tr > td {
		vertical-align: middle;
	}
}

.row-spaced {
	margin-bottom: 15px;
}

.tab-pane {
	p {
		padding: 20px;
	}
}

.clear-both {
	clear: both;
}

/*
 |--------------------------------------------------------------------------
 |
 | Header
 |
 |--------------------------------------------------------------------------
 */
.account-header {
	display: table-row;
	background: $main-color;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
	font-family: $dashboard-font;
	/*background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0, #2ecc71),
					color-stop(1, #8CD441)
	);
	background-image: -o-linear-gradient(bottom, #2ecc71 0%, #8CD441 100%);
	background-image: -moz-linear-gradient(bottom, #2ecc71 0%, #8CD441 100%);
	background-image: -webkit-linear-gradient(bottom, #2ecc71 0%, #8CD441 100%);
	background-image: -ms-linear-gradient(bottom, #2ecc71 0%, #8CD441 100%);
	background-image: linear-gradient(to bottom, #2ecc71 0%, #8CD441 100%);*/
	//a {
	//color: white;
	//}
	//.navbar-brand {
	//padding: 15px;
	//}
	.btn-header-menu {
		border-color: #ffffff87;
		margin-right: 10px;
		color: #ffffff87;
		cursor: pointer;
	}
}


.content-page-heading {
	margin-top: 10px;
	margin-bottom: 20px;

	.page-headline {
		display: inline-block;
	}

	.content-page-actions {
		float: right;
	}
}

.text-muted {
	color: #ccc;
	font-size: small;
}

.fa-star {
	color: #FFD700;
}

.tab-pane-container {
	.nav-tabs {
		li {
			cursor: pointer;

			&.active {
				cursor: inherit;
			}
		}
	}
}


.main-page-contents {
	.action-buttons {
		margin: 20px 0;
	}

	.nav-action-buttons {
		margin-bottom: 20px;
	}
}

.page-details {
	margin-bottom: 40px;
}


.highlighted-link {
	padding: 10px 15px;
	display: inline-block;
	border-radius: 5px;
	background: #fed587;

	a {
		color: white;
	}

	&.success {
		border: 2px solid #008000;
		color: #008000;
		background: #F3FFEB;
		padding-left: 40px;
		padding-right: 40px;
		font-size: 1.2em;

		a {
			color: #008000;
		}
	}
}

.title-container {
	margin-bottom: 20px;

	&.no-bottom-margin {
		margin-bottom: 0;
	}

	.title-options {
		display: inline-block;
		margin-right: 10px;
	}

	.title-actions {
		display: inline-block;

		em {
			font-size: 24px;
		}

		a {
			color: $internal-border-color;
			text-decoration: none;
			margin-right: 10px;
		}
	}

	.permalink {
		a {
			color: #008000;
		}

		margin: 10px 0;
	}
}


.action-success {
	.success-mark {
		font-size: 115px;
		color: #30CF4A;
	}

	p {
		&.headline {
			font-size: 25px;
			margin: 20px 0;
		}
	}
}


//.dark-container {
//    //color: #DFE4ED;
//
//    //.nav-headline {
//    //    margin: 10px 0;
//    //    font-size: 14px;
//    //    font-weight: bold;
//    //}
//
//    .nav {
//        li {
//            //border-radius: 0;
//
//            //	  border-top: 1px solid #444;
//            margin-top: 0;
//
//
//
//            a {
//                color: white;
//
//                &:hover {
//                    background: #1C508B;
//                }
//            }
//        }
//
//        .active {
//            background: #505BCD;
//        }
//
//        .fas {
//            margin-right: 8px;
//            font-size: 1.3em;
//        }
//    }
//}

.content-box {
	background: white;
	box-shadow: 4px 4px 8px #DADADA;

	.header {
		padding: 20px;
		background: #5DE45D;
		color: white;

		.headline {
			font-size: 20px;
		}
	}

	.content {
		padding: 20px;

		.copy {
			margin: 0;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.footer {
		.fineprint {
			border-top: 1px solid #F9F9F9;
			padding: 10px 20px;
		}
	}
}

.center-container {
	max-width: 700px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin: -100px 0 0 -350px;

	.fineprint {
		text-align: center;

		a {
			color: #D5D5D5;
		}
	}
}

.box-info {
	position: relative;
	padding: 15px;
	background: #fff;
	color: #5b5b5b;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	margin-bottom: 20px;
	border: 1px solid #cccccc;

	.icon-box {
		width: 65px;
		font-size: 30px;
		display: block;
		float: left;
	}

	.text-box h3 {
		padding: 0;
		margin: 5px 0;
		font-weight: 600;
		font-size: 20px;
		display: block;
		color: #4C5264;
	}

	.text-box p {
		font-size: 14px;
	}

	.progress.progress-xs {
		height: 5px;
		margin-top: 30px;
		margin-bottom: 20px;
		border-radius: 0px;
		box-shadow: none;
	}
}

/*
 |-----------------------------------------------------------
 | RESPONSIVE STYLES
 |-----------------------------------------------------------
 */



// from 0 to 760px
@media screen and (max-width: 768px) {
	.js-toggle-right-mini-sidebar {
		display: none;
	}

	#sidebar {
		flex-basis: auto;
		width: $mini-sidebar-width;

		.nav {
			// don't need section titles on small screens
			.nav-title {
				display: none;
			}
			li {
				a {
					//flex-direction: column;
					//place-items: center;
					//font-size: 10px;
					//padding: 5px;
					@include mini-sidebar-icon-text;

					span {
						max-width: $mini-sidebar-width - 10px;
						text-align: center;
					}
				}
				&:hover {
					border-left: none;
				}
			}
			.fas {
				@include mini-sidebar-icon;
				//font-size: 20px;
				//line-height: 35px;
				//min-width: 40px;
				//margin-right: 0;
				//border: 1px solid white;
			}
		}
	}
}

// form 0 to 1200px
@media screen and (max-width: 1200px) {
	#sidebar {
		flex-basis: 15%;

		// reset sidebar animation if present
		&.normal-sidebar {
			animation: none;
		}

		.nav {
			.nav-title {
				//padding-left: 10px;
				//padding-right: 10px;
			}
			li {
				a {
					//font-size: 0.80em;
					//padding-left: 10px;
					//padding-right: 10px;
				}
			}
		}
	}
}


//@media screen and (max-width: 800px) {
//    #sidebar {
//        flex-basis: auto;
//        width: 70px;
//
//        .nav {
//            li {
//                a {
//                    width: 60px;
//                    margin-left: 5px;
//                    margin-right: 5px;
//                    text-align: center;
//                    span {
//                        width: 60px;
//                        white-space: nowrap;
//                        text-overflow: ellipsis;
//                    }
//                }
//            }
//        }
//    }
//}
//@media screen and (max-width: 1000px) {
//    #sidebar {
//        .nav {
//            .nav-title {
//                display: none;
//            }
//
//            li {
//                a {
//                    flex-direction: column;
//                    place-items: center;
//                    text-align: center;
//                    font-size: 10px;
//                    padding: 10px 5px;
//                }
//            }
//
//            .fas {
//                font-size: 23px;
//                display: block;
//                margin-right: 0;
//                line-height: 25px;
//                padding: 5px;
//            }
//        }
//    }
//}
//@media screen and (min-width: 800px) and (max-width: 1000px) {
//    #sidebar {
//        flex-basis: 15%;
//    }
//}
/*
 |-----------------------------------------------------------
 | END RESPONSIVE STYLES
 |-----------------------------------------------------------
 */

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	width: 422px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;

}

.tt-suggestion p {
	margin: 0;
}


/* example specific styles */
/* ----------------------- */

.twitter-typeahead {
	display: block !important;
}

/*
 |-----------------------------------------------------------
 | Common Animations
 |-----------------------------------------------------------
 */
@keyframes turnLeft {
	0% {
		transform: rotateZ(540deg);
	}
	100% {
		transform: rotateZ(0);
	}
}

@keyframes turnRight {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(540deg);
	}
}
/*
 |-----------------------------------------------------------
 | End Common Animations
 |-----------------------------------------------------------
 */

/*
|--------------------------------------------------------------------------
| Start Oxygen2 Styles
|--------------------------------------------------------------------------
*/

.table .row-title {
	font-weight: bold;
}

// add space under buttons, and don't let them touch
.btn-spaced {
	.btn {
		margin-bottom: 5px;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}

/*
|--------------------------------------------------------------------------
| End Oxygen2 Styles
|--------------------------------------------------------------------------
*/
